extends ./layout.pug

block body
  div.content
    section
      h2 The full document
      pre
        != JSON.stringify(doc, null, "\t")
    section
      h2 Text
      != doc.text
    section
      h2 Select
      != doc.select
    section
      h2 Timestamp
      != doc.timestamp
    section
      h2 Date
      != doc.date
    section
      h2 Number
      != doc.number
    section
      h2 Range
      != doc.range
    section
      h2 Color
      != doc.color
    section
      h2 GeoPoint
      != JSON.stringify(doc.location, null, "\t")
      p
        b latitude:
        != doc.location.latitude
      p
        b longitude:
        != doc.location.longitude
    section
      h2 Embed
      p
        b URL :
        != doc.embed.url
      p
        b HTML :
        != doc.embed.html

    h2 StructuredText
    h3 HTML
    != doc.body.asHtml(ctx.linkResolver)
    h3 Text
    != doc.body.asText()
    h3 Title
    != doc.body.title
    h3 Value
    != JSON.stringify(doc.body.value, null, "\t")
    h3 First title
    != JSON.stringify(doc.body.firstTitle(), null, "\t")
    h3 First Image
    != JSON.stringify(doc.body.firstImage(), null, "\t")
    h3 First paragraph
    != JSON.stringify(doc.body.firstParagraph(), null, "\t")
    h2 Links
    h3 WebLink
    p
      b URL
      != doc.weblink.url
    p
      b HTML
      != doc.weblink.asHtml()

    h3 MediaLink
    p
      b URL
      != doc.medialink.url
    p
      b HTML
      != doc.medialink.asHtml()

    h3 DocumentLink
    p
      b URL
      != doc.documentlink.url
    p
      b HTML
      != doc.documentlink.asHtml(ctx.linkResolver)

    h3 Any Link
    p
      b URL
      != doc.link.url
    p
      b HTML
      != doc.link.asHtml(ctx.linkResolver)

    h2 Image
    h3 Main
    p
      b html
      != doc.photo.asHtml()
    p
      b url
      != doc.photo.url
    h3 Medium View
    p
      b html
      != doc.photo.medium.asHtml()
    p
      b url
      != doc.photo.medium.url

    h2 Group
    h3 Value
    != JSON.stringify(doc.linksgroup, null, "\t")
    h3 Image
    != JSON.stringify(doc.linksgroup.firstImage(), null, "\t")
    h3 Title
    != JSON.stringify(doc.linksgroup.firstTitle(), null, "\t")
    h3 Paragraph
    != JSON.stringify(doc.linksgroup.firstParagraph(), null, "\t")
    h3 the label
    each groupDoc in doc.linksgroup.docs
      != groupDoc.label.asHtml(ctx.linkResolver)
      != groupDoc.link.asHtml()

    h2 SliceZone
    h3 Value
    != JSON.stringify(doc.contentslices, null, "\t")
    h3 Image
    != JSON.stringify(doc.contentslices.firstImage(), null, "\t")
    h3 Title
    != JSON.stringify(doc.contentslices.firstTitle(), null, "\t")
    h3 Paragraph
    != JSON.stringify(doc.contentslices.firstParagraph(), null, "\t")

    h2 Slices
    each slice in doc.contentslices.slices
      h3 Value
      != JSON.stringify(slice, null, "\t")
      h3 SliceType
      != slice.sliceType
      h3 Label
      != slice.label
      h3 Image
      != JSON.stringify(slice.firstImage(), null, "\t")
      h3 Title
      != JSON.stringify(slice.firstTitle(), null, "\t")
      h3 Paragraph
      != JSON.stringify(slice.firstParagraph(), null, "\t")
