extends ./layout.pug

block body
  script
      = "window.scenario = " + scenario

  section.documentation

    header
      h1 !{doc.title.asHtml()}
      != doc.summary.asHtml()

    article
      div#doc-animation
        each slice in doc.examples.slices
          case slice.sliceType
            when 'example'
              include partials/example
