extends ./layout.pug

block body
  section.documentation

    header
      h1 !{doc.title.asHtml()}
      != doc.summary.asHtml()

    article
      each slice in doc.examples.slices
        case slice.sliceType
          when 'example'
            h2 !{slice.value.docs[0].title}
            != slice.value.docs[0].summary.asHtml()
            include partials/source-code
